/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #FFFFFF;
  --matr-navbar-bg-rgb: 255, 255, 255;
  --theme-blue: #2C5C85;
  --theme-green: #92B694;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navy-background {
  background-color: var(--theme-blue);
  color: var(--bs-light);
}

footer, footer a {
  line-height: 15px;
  color: var(--bs-dark);
}

.landing {
  background: url("/images/waffle-setup-cropped.jpg") no-repeat;
  background-size: cover;
  height: 60vw;
  min-height: fit-content;
  max-width: 200rem;
  font-weight: lighter;
  text-outline: black 2px;
}

.how-to {
  background: url("/images/top-clear-box.png") no-repeat;
  background-size: cover;
  height: 60vw;
  min-height: fit-content;
  max-width: 200rem;
  font-weight: lighter;
  text-outline: black 2px;
}

.large-button-text {
  font-size: 7vw;
  font-weight: lighter;
  max-font-size: 2vh;
  text-outline: black 3px;
}

.landing-list {
  max-font-size: 4vh;
  font-size: 3.5vw;
  text-outline: black 2px;
}

.landing-buttons {
  background: rgb(0, 0, 0, 0.5) !important;
}

.admin-landing {
  text-align: center;
  margin-top: 20px;
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #0056b3;
}