/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #FFFFFF;
  --matr-navbar-bg-rgb: 255, 255, 255;
  --theme-blue: #2C5C85;
  --theme-green: #92B694;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navy-background {
  background-color: var(--theme-blue);
  color: var(--bs-light);
}

footer, footer a {
  line-height: 15px;
  color: var(--bs-dark);
}

.landing {
  font-size: 250%;
  font-weight: lighter;
  text-outline: black 2px;
}
